body {
  background: #f8e8a6;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.navigation a {
  display: inline-block;
  margin: 0 10px;
  color: green;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
}
